@font-face
  font-family "lol"
  url("../fonts/lol.otf") format("opentype")
  url("../fonts/lol2.otf") format("opentype")
  url("../fonts/lol.ttf") format("truetype")
  url("../fonts/lol2.ttf") format("truetype")
  font-style normal
  font-weight normal

// Creamos una clase que tenga de tipografía la fuente de Diablo
.font-diablo
  font-family "lol", sans-serif